@import url(https://fonts.googleapis.com/css2?
  family=Poppins:wght@300;400;500;600;700;800;900&
  display=swap);
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }

  body{
    background: #0f0f1b;
    color: #fff;

  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #0c1124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

  }

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    background: linear-gradient(45deg,#f06,#3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 500px;
    margin-left: -30px;

}
.home-content h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay:.7s;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}
.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
    
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,#f06,#3cf,#f06);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before{
    background-position: 100% 0;
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,#f06,#3cf,#f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}
.btn:hover::after {
  background-position: 100% 0;
}

.home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg,#f06,#3cf);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;

}
.home-sci a:nth-child(1){
    opacity: 0;
     animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
    
}
.home-sci a:nth-child(2){
    opacity: 0;
     animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}
.home-sci a:nth-child(3){
    opacity: 0;
     animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}
.home-sci a:nth-child(4){
    opacity: 0;
     animation: slideLeft 1s ease forwards;
    animation-delay: 2.1s;
}
.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#f06,#3cf);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}
.home-sci a:hover::before {
    filter: blur(5px);
}
.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}
.home-sci a:hover::after {
    transform: scale(0);
}

.home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards,floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s,3.1s;
    
   
}
.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background:#0c1022;
    border-radius: 50%;

}
.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06,#3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}
.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}
.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    
}

.image img {
    position: absolute;
    left: 60%;
    top: 0%;
    transform: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
}
/* KEYFRMES ANIMATION */
@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
     100%{
        opacity: 1;
        transform: translateY(100);
    }
}
@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
     100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
     100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideBottom {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
     100%{
        opacity: 1;
        transform: translateY(100);
    }
}
@keyframes zoomIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
     100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floatImage {
    0%{
        transform: translateY();
    }
      50%{
        transform: translateY(-24px);
    }
      100%{
        transform: translateY(0);
    }
}
@keyframes circleRotate{
     
    0%{
        transform: rotate(0);
    }
      100%{
        transform: rotate(360deg);
    }
    
}

/* About Section */
.about {
    width: 100%;
    min-height: 100vh;
    background: #0f0f1b;
    display: flex;
    align-items: center;
}

.about-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Image Side */
.about-img {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}
.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Content Side */
.about-content {
    flex: 1;
    color: white;
    padding-left: 50px;
}

.about-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-content h2 span {
    color: #00f7ff;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #ccc;
}

/* Button */
.about-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #00f7ff, #ff00c8);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.about-btn:hover {
    transform: scale(1.05);
}
   

/* Skills Section */
.skills {
    width: 100%;
    min-height: 100vh;
    background: #0c1022;
    display: flex;
    align-items: center;
}

.skills-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.section-title {
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}

.section-title span {
    color: #00f7ff;
}

/* Skill Cards */
.skills-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.skill-card {
    background: #161625;
    padding: 30px;
    border-radius: 20px;
    transition: 0.4s;
    border: 2px solid transparent;
}

.skill-card h3 {
    color: white;
    margin-bottom: 15px;
}

.skill-card p {
    color: #ccc;
    font-size: 14px;
}

/* Hover Glow Effect */
.skill-card:hover {
    transform: translateY(-10px);
    border: 2px solid #00f7ff;
    box-shadow: 0 0 20px #00f7ff;
}


/* Portfolio Section */
.portfolio {
    width: 100%;
    min-height: 100vh;
    background: #0f0f1b;
    padding: 80px 0;
}

.portfolio-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.section-title {
    font-size: 40px;
    color: white;
    margin-bottom: 60px;
}

.section-title span {
    color: #00f7ff;
}

/* Grid Layout */
.portfolio-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Card */
.portfolio-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
}

.portfolio-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.4s;
}

/* Hover Overlay */
.portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #00f7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transform: translateY(100%);
    transition: 0.4s;
}

.portfolio-card:hover img {
    transform: scale(1.1);
}

.portfolio-card:hover .portfolio-layer {
    transform: translateY(0);
}

/* Contact Section */
.contact {
    width: 100%;
    min-height: 100vh;
    background: #0c1022;
    padding: 80px 0;
    display: flex;
    align-items: center;
}

.contact-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.section-title {
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}

.section-title span {
    color: #00f7ff;
}

/* Form */
form {
    max-width: 700px;
    margin: auto;
}

.input-box {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 15px;
    background: #161625;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border: 2px solid #00f7ff;
    box-shadow: 0 0 10px #00f7ff;
}

/* Button */
.contact-btn {
    margin-top: 20px;
    padding: 12px 35px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #00f7ff, #ff00c8);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    transform: scale(1.05);
}
/* Footer */
.footer {
    background: #0f0f1b;
    padding: 60px 0 20px;
    color: white;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* Logo */
.footer-logo h2 {
    font-size: 28px;
}

.footer-logo span {
    color: #00f7ff;
}

.footer-logo p {
    color: #ccc;
    margin-top: 10px;
}

/* Links */
.footer-links h3,
.footer-social h3 {
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #00f7ff;
}

/* Social Icons */
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 22px;
    color: white;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #00f7ff;
    text-shadow: 0 0 10px #00f7ff;
}

/* Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #222;
    padding-top: 15px;
    color: #aaa;
}